body {
  box-sizing: border-box;
  margin: 0;
  min-height: 300vh;
}
.position {
  position: fixed;
}
.circle-left {
  height: 110px;
  width: 110px;
  background: red;
  border-radius: 50%;
  top: 0;
  left: 0;
}
.circle-right {
  height: 140px;
  width: 140px;
  background: green;
  border-radius: 50%;
  top: 0;
  right: 0;
}
.circle-bottom-left {
  height: 180px;
  width: 180px;
  background: lightcoral;
  border-radius: 50%;
  bottom: 0;
  left: 0;
}
.circle-bottom-right {
  height: 200px;
  width: 200px;
  background: lightseagreen;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}
